transformers==4.48.2
fastapi==0.115.8
uvicorn==0.34.0
nltk==3.9.1
torch==2.6.0
sentencepiece==0.2.0
sentence-transformers==3.4.1
optimum==1.24.0
onnxruntime==1.20.1
onnx==1.17.0
numpy==1.26.4
einops==0.8.0
cachetools==5.5.0
