transformers==4.56.1
fastapi==0.116.1
uvicorn==0.35.0
nltk==3.9.1
torch==2.8.0
sentencepiece==0.2.0
sentence-transformers==5.1.0
optimum==1.27.0
onnxruntime==1.22.0
onnx==1.19.0
numpy==1.26.4
einops==0.8.1
cachetools==6.2.0
