requests==2.32.3
transformers==4.42.4
fastapi==0.112.0
uvicorn==0.30.5
nltk==3.9.1
torch==2.4.0
sentencepiece==0.2.0
sentence-transformers==3.0.1
optimum==1.21.2
onnxruntime==1.18.1
onnx==1.16.2
numpy==1.26.4
pytest
